

/*mobile*/

/*Heading*/

header {
  margin-top: 0;

}

.logo img{
  height:  120px;
  width:   250px;
  background-color: rgba(0,0,0,0.4);
  padding-top:10px;
  margin-top: 0;
  padding-bottom: 15px;
  padding-left: 20px;
  opacity: .9;




}

.logo{
  text-align: center;


}

.menu-icon img{
  width: 65px;
  height: 55px;
  background-color: rgba(0,0,0,0.4);
  padding-left: 22px;
  padding-top: 20px;
  margin-bottom: 95px;
}


.menu-icon {
position: fixed;
}

.nav {
position: relative;
padding-top: 7px;
padding-bottom: 7px;
padding-right: 27px;
margin-top: 3px;
background-color: rgba(0,0,0,0.4);
opacity: .9;
display:block;
font-family: 'Droid Serif', serif;
color: white;

}


.nav li {
display: block;
padding-right: 10px;
margin: 0;
color: white;

}





ul a {
padding: 1px 1px;
display: block;

}



#instagram {

height: 25px;
width: 25px;
padding-right: 3px


}

#twitter {

height: 25px;
width: 25px;

}

#pinterest {
height: 25px;
width: 25px;

}

#facebook {
height: 25px;
width: 25px;

}

.social {

float: right;
}

/*Picture slide show*/

#table {
width: 600px;
height: 450px;

position: relative;
top: 30px;
right: 300px;
}


/*body main*/

* {
box-sizing: border-box;

}

body{
background: url("images1/background.jpg") no-repeat center;
background-size: 100% 350px;
background-color: #333;
background-attachment: fixed;
}









/*body about*/

.bio{
background-color: rgba(0,0,0,0.4);
margin-top: 30px;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
}

.bio img {
height: 250px;
width:170px;
border: 10px solid #fff;
border-bottom: 45px solid #fff;
-webkit-box-shadow: 3px 3px 3px #777;
 -moz-box-shadow: 3px 3px 3px #777;
box-shadow: 3px 3px 3px #777;


}

.bio p {
color: white;
font-family: "droid",serif;
}

/*body portfolio*/

.gallery {
background-color: rgba(0,0,0,0.4);
margin-top: 10px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
margin-bottom: 10px;
}

.gallery img {
height:200px;
width: 200px;
border: 5px solid #fff;
margin-right: 5px;
margin-bottom: 5px;
}

/*body services*/

.service {
  background-color: rgba(0,0,0,0.4);
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;

}

.service p {
  color: white;
  font-family: "droid", serif;
}

.service h2 {
  color: white;
  font-family: "droid",serif;
}


/*links*/
 a:visited {
text-decoration: none;

}

a:hover {
  border-bottom-style: solid;
  border-color: maroon;
}

a {
text-decoration: none;
color: white;
}

a:active {
border-bottom-style: solid;
border-color: maroon;

}

/*Layout containers*/

.container {
  padding-left: 1em;
  padding-right: 1em;
}

footer  {
text-align: center;


}



footer img {
  height: 50px;
  width: 50px;
}

.wrap {
  min-height: calc(100vh - 54px);

  }

/*Media queries*/
/*tablet*/

@media (min-width: 769px) {
  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}
.wrap {
  min-height: calc(100vh - 54px);

  }

nav {
  float: right;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgba(0,0,0,0.4);
  opacity: .9;
  display:inline-block;
  font-family: 'Droid Serif', serif;
  color: white;
  }

nav li {
  display:inline-block;
  padding-right: 15px;
  margin: 0;
  color: white;

}
.clearfix::after {
  content: "";
  display: table;
  clear: both;

}

}

/*desktop*/
@media (min-width: 1025px) {





}
