

/*mobile*/

/*Heading*/

header {
  margin-top: 0;

}


.logo img{
  height:  120px;
  width:   250px;
  background-color: rgba(0,0,0,0.7);
  padding-top:10px;
  margin-top: 0;
  padding-bottom: 15px;
  padding-left: 20px;
  opacity: .9;

}

.logo{
border-bottom-style:solid;
border-bottom-color: rgb(80,0,0);
}





.logo,.menu-icon{
display: inline-flex;
align-self: flex-start;

}

.menu-icon img{
  width: 65px;
  height: 55px;
  background-color: rgba(0,0,0,0.7);
  padding-left: 22px;
  padding-top: 20px;

}


.menu-icon {
padding-bottom: 30px;
height: 35px;

}









.box-one ul {
padding-top: 10px;
background-color: rgba(0,0,0,0.7);
opacity: .9;
color: white;
margin-bottom: -20px;

}

.starline{
text-align: center;

}

 li {
display:flex;
padding-bottom: 5px;
padding-top: 5px;
}





ul a {
padding: 1px 1px;
display: block;

}






/*Picture slide show*/




/*body main*/

* {
box-sizing: border-box;

}

body{
background: url("images1/background.jpg") no-repeat center;
background-size: 100% auto;
background-color: #1a1a1a;
color:#fff;
background-attachment: fixed;

}

.home{
background-image:  none;

}

.nav2{
display: none;

}


.slider img {
width:100%;
height:400px;

}

.slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
    background: #e6e6e6;

    margin-top: 65px;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
}

.arrow {
    position: absolute;
    z-index: 1002;
    display: block;
    top: 50%;
    margin-top: -35px;
    width: 54px;
    height: 80px;
    outline: none;
    cursor: pointer;

}

.arrow.prev {
    opacity: 0.2;
    left: 20px;
    background-image: url(../images/previous.png);
    transition: 0.2s linear all;
}

.arrow.next {
    opacity: 0.2;
    right: 10px;
    background-image: url(../images/next.png);
    transition: 0.2s linear all;
}

.arrow.prev:hover {
    opacity: 1;

}

.arrow.next:hover {
    opacity: 1;

}



/*---------------------------------------------------------
NAV
---------------------------------------------------------*/

.nav1 {
    text-align: center;
    display: block;
    position: absolute;
    z-index: 1002;
    left: 0;
    bottom: -4px;
    right: 0;
    height: 48px;
}

.nonDraggableImage{
    -webkit-user-drag:none;
}

.nav1 .wrapper {
    margin: 0 auto;
    width: 100%;
    padding: 1em 0 .8em;
}

.nav1 ul {
    margin: 0;
    width: 100%;
}

.nav1 .dot, .nav1 .dot a {
    display: inline-block;
    zoom: 1;
}

.dots .dot {
    position: relative;
    margin: 0 10px;
    width: 12px;
    height: 12px;
    bottom: 10px;
}

.dots .dot a {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 6px;
    height: 6px;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    background: #FFF;
    border: 1px solid transparent;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: background-color 0.25s, border-color 0.25s;
    -moz-transition: background-color 0.25s, border-color 0.25s;
    transition: background-color 0.25s, border-color 0.25s;
}

.dots .dot a.active {
    border-color: #FFF;
    background-color: transparent;
}




/*body about*/

.bio{
background-color: rgba(0,0,0,0.7);
margin-top: 30px;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
}

.bio img {
border-radius: 25%;
height: 175px;
width: 155px;
}

.bio p {
color: white;
font-family: "droid",serif;
}

/*body portfolio*/

.gallery {
background-color: rgba(0,0,0,0.7);
margin-top: 10px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
margin-bottom: 10px;
}

.gallery img {
height:200px;
width: 200px;
border: 5px solid #fff;
margin-right: 5px;
margin-bottom: 5px;
}
.gallery img:hover {
border-bottom-style: none;
color:black;
opacity: 0.7;


}
.gallery a:hover {
border-bottom-style: none;

}


/*body services*/

.service {
  background-color: rgba(0,0,0,0.7);
  margin-top: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;

}

.service p {
  color: white;
  font-family: "droid", serif;
}

.service h2 {
  color: white;
  font-family: "droid",serif;
}



/*Body contact*/
.contact_form {
text-align: center;
background-color: rgba(0,0,0,0.7);
margin-top: 100px;
padding-top: 10px;
padding-bottom: 10px;

}

.formLabel {
color: white;


}

input,.input{
color: black;

}

.success{color:#2ECC40;}
    .error{color:#FF4136;}
    .warning{color:#FF851B;}

/*links*/
 a:visited {
text-decoration: none;

}

a:hover {
  border-bottom-style: solid;
  border-color: rgb(80,0,0);
}

a {
text-decoration: none;
color: white;
}

a:active {
border-bottom-style: solid;
border-color: maroon;

}

.menu-icon a:hover {
  border-bottom-style: none;
}

/*Layout containers*/

.container {
  padding-left: 1em;
  padding-right: 1em;
}

footer  {
text-align: center;
background-color: rgba(0,0,0,0.7);
padding-top: 5px;
border-left-style: solid;
border-color: rgb(80,0,0);
border-left-width: 20px;

}

footer {
border-top-style:solid;
border-top-width:thin;
border-top-color: gray;
}



footer img {
  height: 35px;
  width: 35px;
}

.wrap {
  min-height: calc(100vh - 44px);

  }


#photos li {
  margin: 30px 0 0;
  text-align: center;
}
#photos li:before {
  display: none;
}
#photos .image {
  display: block;
  min-height: 240px;
  background: #edeff0;
  text-align: center;
  height: 260px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
#photos .image:hover {
  background: #dfe3e4;
}
#photos .image:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#photos img {
  max-width: 80%;
  max-height: 200px;
  vertical-align: middle;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
}



.filter-select li {
display: inline-block;
padding-right: 15px;
}
.filter-select{
text-align: center;

}
.filter-select a{
padding: 10px;
background-color: rgba(0,0,0,0.4);

}


.grid-25tablet-grid-50 a image {
padding-left: 1000px;
}

.form {
text-align: center;

}

.flickrContain{
background-color: rgba(0,0,0,0.7);
padding-bottom: 10px;
margin-top: 100px;
}
/*Media queries*/
/*tablet*/

@media (min-width: 595px) {
.slider{
  height: 400px;
  margin-top: 65px;
}

.slider img{
height: 400px;

}
}

@media (min-width: 662px) {
  .slider{
    height: 500px;
    margin-top: 30px;
  }

  .slider img{
  height: 500px;

}
}

@media (min-width: 972px) {
  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}
  .container2 {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;

  }



  .logo, .box-one li{
display: inline-flex;



  }

  .box-one  {
display: none;

  }



.slider{
margin-top: 50px;
width:90%;
height: 450px;
background-color: rgba(0,0,0,0.7);

}

.slider img {
  height: 450px;
}

.menu-icon{
display: none;

}



.wrap {
  min-height: calc(100vh - 44px);

  }

.nav2 {


height: 50px;
  background-color: rgba(0,0,0,0.7);
  opacity: .9;
  display:inline-block;
  font-family: 'Droid Serif', serif;
  color: white;
  margin-left: 10px;
  }

.nav2 li {
  display:inline-block;
  padding-right: 15px;
  margin-bottom: 50px;
  color: white;
  padding-right: 20px;
  font-family: 'Fjalla One', sans-serif;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;

}
.logo img{
padding-bottom: 10px;

}


/*desktop*/
@media (min-width: 1025px) {





}
