

/*mobile*/

/*Heading*/

header {
  margin-top: 0;

}


.logo img{
  height:  120px;
  width:   250px;
  background-color: rgba(0,0,0,0.7);
  padding-top:10px;
  margin-top: 0;
  padding-bottom: 15px;
  padding-left: 20px;
  opacity: .9;




}

.logo{
  text-align: center;


}

.menu-icon img{
  width: 65px;
  height: 55px;
  background-color: rgba(0,0,0,0.7);
  padding-left: 22px;
  padding-top: 20px;
  margin-bottom: 95px;
}


.menu-icon {
position: fixed;
height: 35px;
}








.nav ul {
padding-top: 10px;
background-color: rgba(0,0,0,0.7);
opacity: .9;
display:none;
font-family: 'Droid Serif', serif;
color: white;
display: none;
}

.starline{
text-align: center;

}

 li {
display:flex;
padding-bottom: 5px;
padding-top: 5px;
}





ul a {
padding: 1px 1px;
display: block;

}






/*Picture slide show*/




/*body main*/

* {
box-sizing: border-box;

}

body{
background: url("images1/background.jpg") no-repeat center;
background-size: 100% 350px;
background-color: #333;
background-attachment: fixed;
}

.home{
background-image: none;

}







/*body about*/

.bio{
background-color: rgba(0,0,0,0.7);
margin-top: 30px;
padding-top: 10px;
padding-left: 10px;
padding-bottom: 10px;
padding-right: 10px;
}

.bio img {
border-radius: 50%;
height: 175px;
width: 175px;
}

.bio p {
color: white;
font-family: "droid",serif;
}

/*body portfolio*/

.gallery {
background-color: rgba(0,0,0,0.7);
margin-top: 10px;
padding-top: 10px;
padding-bottom: 10px;
text-align: center;
margin-bottom: 10px;
}

.gallery img {
height:200px;
width: 200px;
border: 5px solid #fff;
margin-right: 5px;
margin-bottom: 5px;
}
.gallery img:hover {
border-bottom-style: none;
color:black;
opacity: 0.7;


}
.gallery a:hover {
border-bottom-style: none;

}


/*body services*/

.service {
  background-color: rgba(0,0,0,0.7);
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;

}

.service p {
  color: white;
  font-family: "droid", serif;
}

.service h2 {
  color: white;
  font-family: "droid",serif;
}


/*links*/
 a:visited {
text-decoration: none;

}

a:hover {
  border-bottom-style: solid;
  border-color: rgb(80,0,0);
}

a {
text-decoration: none;
color: white;
}

a:active {
border-bottom-style: solid;
border-color: maroon;

}

.menu-icon a:hover {
  border-bottom-style: none;
}

/*Layout containers*/

.container {
  padding-left: 1em;
  padding-right: 1em;
}

footer  {
text-align: center;
background-color: rgba(0,0,0,0.7);
padding-top: 10px;
border-left-style: solid;
border-color: rgb(80,0,0);
border-width: 20px;
}



footer img {
  height: 50px;
  width: 50px;
}

.wrap {
  min-height: calc(100vh - 64px);

  }

/*Media queries*/
/*tablet*/

@media (min-width: 769px) {
  .container {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;
}
  .container2 {
    width: 70%;
    max-width: 1000px;
    margin: 0 auto;

  }

.i-nav{
display: none;

}

.nav ul{
position: relative;
float: right;
}

.wrap {
  min-height: calc(100vh - 64px);

  }

nav {
  float: right;
  padding-top: 7px;
  padding-bottom: 7px;
  background-color: rgba(0,0,0,0.7);
  opacity: .9;
  display:inline-block;
  font-family: 'Droid Serif', serif;
  color: white;
  }

nav li {
  display:inline-block;
  padding-right: 15px;
  margin: 0;
  color: white;

}
.clearfix::after {
  content: "";
  display: table;
  clear: both;

}

}

/*desktop*/
@media (min-width: 1025px) {





}
