.logo {
height:  150px;
width:   350px;
}

li {

display: inline;
padding-right: 20px;

}

#nav {
margin-right: 200px;
float: right;
margin-top: -40px;


}

#table {

width: 900px;
height: 800px;
display: block;
margin: 0px, auto;
}


#instagram {

height: 35px;
width: 35px;
padding-right: 10px


}

#twitter {

height: 35px;
width: 35px;

}

.social {
float: right;
margin-right: 250px;
margin-top: 70px;
}
